<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjfu.mapper.CourseMapper">
	<select id="selectCourses" resultType="com.bjfu.pojo.CourseBasicInfo">
		select course.course_id,course_name,term,course_hour, teacher.teacher_id,teacher_name 
    	from course,teacher,tc
   	 	where identify='主讲' and course.course_id=tc.course_id and tc.teacher_id=teacher.teacher_id
	</select>
	<select id="selectCourseBasicInfoById" resultType="com.bjfu.pojo.CourseBasicInfo">
		select course.course_id,course_name,term,course_hour, teacher.teacher_id,teacher_name 
    	from course,teacher,tc
   	 	where identify='主讲' and course.course_id=tc.course_id and tc.teacher_id=teacher.teacher_id and course.course_id=#{course_id}
	</select>
	<select id="selectCourseById" resultType="com.bjfu.po.Course">
		select * from course where course_id=#{course_id}
	</select>
	<select id="selectAllCourse" resultType="com.bjfu.po.Course">
		select * from course
	</select>
	<update id="updateCourse" parameterType="com.bjfu.po.Course">
		update course set course_name=#{course_name},term=#{term},course_hour=#{course_hour} where course_id=#{course_id}
	</update>
	<insert id="insertCourse" parameterType="com.bjfu.po.Course">
		insert into course (course_id,course_name,term,course_hour) values(#{course_id},#{course_name},#{term},#{course_hour})
	</insert>
</mapper>
