<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjfu.mapper.UserMapper">
 	<select id="selectUser" resultType="com.bjfu.po.User">
 		select * from user where user_id=#{user_id} and password=#{password};
	</select>
	<insert id="insertUser" parameterType="com.bjfu.po.User">
		insert into user (user_id,password,role) values(#{user_id},#{password},#{role})
	</insert>
</mapper>
